html,body {
    width:100%;height:100%;
    margin:0;padding:0;
    background-color:black;
    color:white;
}

#menu {
    position:fixed; top:0; left:0; z-index:40;
    display:none;
    width:100%;
    height:100%;
    background:rgba(0,100,200,0.5);
    flex-direction:column;
}
    .menu-section {
        margin:1em;
        display:flex;
        flex-direction:row;
    }
        .menu-section-item {
            flex-direction:column;    
        }


#playerInfo {
    position:fixed; bottom:0;
    overflow:hidden;
    border:1px solid #000;
}


#canvas {
    display:block;
    width:100%;height:100%;
    margin:0;padding:0;
}